@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(
    52deg,
    rgb(101, 101, 231) 0%,
    rgb(175, 103, 233) 100%
  );

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
