/* GENERAL STYLES */

:root {
  --background-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --amount: hsl(178, 100%, 50%);
  --text-color: hsl(215, 51%, 70%);
  --white-text: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */

body {
  background-color: var(--background-color);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Outfit", sans-serif;
  height: 100vh;
}

/* MAIN */

main {
  background-color: var(--card-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.125rem;
  margin: 0 0.625rem;
  padding-top: 0.9375rem;
  border-radius: 0.9375rem;
  box-shadow: 0px 20px 2px 18px rgb(0 0 0 / 8%),
    0px 20px 2px 45px rgb(0 0 0 / 8%);
}

/* IMG */

.userImg {
  max-width: 3.125rem;
}

/* CONTENT WRAPPER */

.content-wrapper {
  max-width: 90%;
}

/* TEXT CONTAINER */

.textContainer {
  margin-top: 1.25rem;
}

.textContainer span {
  color: #fff;
}

.text {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;

  color: var(--text-color);
  font-size: 0.9375rem;
}

/* AMOUNT FOOTER */

.amountFooter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.amountFooter p {
  color: var(--text-color);
  margin-left: 0.625rem;
}

.ether {
  display: flex;
}

.ether p {
  color: var(--amount);
}

.ether img {
  max-width: 1.25rem;
  max-height: 1.25rem;
}

.daysleft {
  display: flex;
}

.daysleft img {
  max-width: 1.25rem;
  max-height: 1.25rem;
}

/* USER FOOTER */

.userFooter {
  border-top: 1px solid var(--line);
  display: flex;
  font-size: 0.875rem;
  padding-bottom: 0.625rem;
}

.userFooter img {
  margin-top: 0.625rem;
  max-width: 2.1875rem;
  border-radius: 50%;
  border: 1px solid #fff;
}

.userFooter p {
  align-self: center;
  margin-left: 0.625rem;
  color: var(--text-color);
}

.userFooter p span:hover,
.equilibrium:hover {
  color: var(--amount);
  cursor: pointer;
}

/*  */

.design {
  position: relative;
}

.design,
.design img {
  width: 100%;
  border-radius: 6px;
}

.design:hover {
  cursor: pointer;
}

.design:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: var(--amount);
  opacity: 0.5;
  z-index: 11;
  border-radius: 6px;
}

.design:hover::after {
  display: block;
  content: url("./public/images/icon-view.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111;
}
