@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}
img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
