.Accordion {
  border: none;
}

.accordion__button:after {
  content: "";
  height: 6px;
  width: 6px;
  margin-left: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(45deg);

  color: hsl(14, 88%, 65%);
}

.accordion__button[aria-expanded="true"]::after,
.accordion__button[aria-selected="true"]::after {
  transform: rotate(-135deg);
  transition: 0.3s all ease-in-out;
}

.accordion__button[aria-expanded="true"] {
  font-weight: bolder;
}

.accordion__button:hover {
  color: hsl(14, 88%, 65%);
  background-color: #fff;
}

.accordion__button:before {
  display: none;
}

.accordion__button {
  background-color: #fff;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion__panel {
  padding: 0 20px 20px;
  animation: 0.5s fadein ease-in-out;
}

.accordion__panel p {
  max-width: 314px;
  color: hsl(240, 6%, 50%);
}
