/* __________ General settings __________ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-vark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

/* __________ End general settings __________ */

/* __________ Header styles __________ */

header {
  display: flex;
  max-width: 100%;
  width: 1440px;
  padding: 30px 10px;
  justify-content: space-between;
  border-bottom: 2px solid var(--Light-grayish-blue);
}


.header-menu li {
  color: hsl(219, 9%, 45%);
  position: relative;

}

.header-menu li:hover {
  color: black;

}

.effects-menu:hover:before {
  content: '';
  background-color: #FF7D1A;
  position: absolute;
  left: 0;
  bottom: -45.5px;
  width: 100%;
  height: 4px;
  z-index: -1;

}

.menu-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.avatar {
  max-width: 50px;
  border-radius: 50%;
  border: 2px solid transparent;

}

.avatar-active {
  border: 2px solid var(--Orange);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info .cart,
.user-info .avatar:hover {
  cursor: pointer;
}

/* __________ End header styles __________ */


/* __________ Hamburger menu __________ */
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 55px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 999;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 998;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

/* __________ End of menu hamburger __________ */


/* __________ Cart styles __________ */
.cart {
  position: relative;
}

.container {
  position: relative;
}

.cart-content {
  position: absolute;
  top: -6px;
  left: 14px;
  z-index: 200;

  width: 13px;
  height: 15px;

  background-color: #FF7D1A;
  border-radius: 90px;

  text-align: center;
  font-size: 12px;
  color: #fff;
}

.cart-items {
  position: absolute;
  border-radius: 5px;
  width: 350px;
  height: 234px;
  top: 41px;
  right: -78px;
  background-color: #fff;
  box-shadow: 0px 4px 10px 2px hsl(228deg 45% 44% / 20%);
}

.display-none {
  display: none !important;
}

.display-none-p-cart {
  display: none;
}

.header-cart-items {
  font-weight: bolder;
  display: flex;
  width: 100%;
  padding: 20px 20px;
  border-bottom: 1px solid #c3c3c3;
}

.content-cart-items {
  height: 169px;
  display: flex;
  align-items: center;
  justify-items: center;
}


.content-cart-items p {
  margin: 0 auto;
  color: hsl(219, 9%, 45%);
  font-weight: bolder;
}

.product-image {
  width: 45px;
  border-radius: 3px;
}

.product-delete-icon:hover {
  cursor: pointer;
}

.item-container {
  display: flex;

  align-items: center;

}

.item-container p {
  font-weight: 100;
  margin-left: 18px;
}

.item-display {
  display: none !important;
}

.item {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.item button {
  width: 100%;
  height: 50px;
  background-color: #FF7D1A;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem
}

/* __________ End Cart styles __________ */

/* __________ Img container styles __________ */
main {
  display: flex;
  gap: 100px;
  padding: 50px 10px;
}

.products-galeria img,
.products-galeria-2 img {
  border-radius: 15px;
}

.img-principal,
.img-principal-2 {
  max-width: 450px;
}

.products-galeria,
.products-galeria-2 {
  max-width: 600px;
  display: grid;
  gap: 20px;
}

.products-thumb,
.products-thumb-2 {
  display: flex;
  gap: 20px;
}

.products-thumb li,
.products-thumb-2 li {
  max-width: 98px;
}

.products-thumb li:hover,
.products-thumb-2 li:hover {
  cursor: pointer;
  opacity: .3;
  transition: all 0.1s ease-in-out;
}

.active-thumbs {
  border: 3px solid #FF7D1A;
  border-radius: 21px;
}

/* __________ End img container styles __________ */

/* __________ Text container __________ */
.infos-container {
  max-width: 400px;
  display: grid;

  align-content: center;
  gap: 30px;
}

.infos-container-title {
  color: var(--Orange);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}

.info-container-text {
  color: var(--Dark-grayish-blue);
}

.price-principal {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.price-principal div {
  background-color: #ffe4b3;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0 5px;
}

.price-principal span {
  color: #ff8c00;
  font-weight: bold;
}

.old-price {
  color: var(--Grayish-blue);
  text-decoration: line-through;
  font-weight: bold;
  margin-top: 10px;
}

/* __________ End text container __________ */

/* __________ Bottom Text __________ */
.cart-total {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.quantity-button {
  display: flex;
  align-items: center;
  width: 150px;
  height: 50px;
  justify-content: space-between;
  background-color: var(--Light-grayish-blue);
  border-radius: 9px;
  padding: 0 10px;
}

.quantity-button img:hover {
  cursor: pointer;
  opacity: .5;
  transition: all 0.1s ease-in-out;
}

.add-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--White);
  gap: 10px;
  width: 250px;
  height: 50px;

  background-color: var(--Orange);
  border-radius: 9px;
  padding: 0 10px;
}


.add-cart:hover {
  cursor: pointer;
  opacity: .5;
  transition: all 0.2s ease-in-out;
}

/* __________ End bottom Text __________ */


/* __________Overlay__________ */

.overlay-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(64, 64, 64, .9);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
}

.img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}

.previous-arrow,
.next-arrow {
  position: absolute;
  width: 40px;
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.previous-arrow img,
.next-arrow img {
  width: 16px;
}

.previous-arrow {
  top: 253px;
  left: -19px;
}

.next-arrow {
  top: 253px;
  left: 428px;
}

.close-overlay {
  width: 20px;
}

.close-overlay:hover {
  cursor: pointer;
}

/* _________ End overlay _________ */


/* __________ Media Queries __________ */

@media (max-width: 980px) {
  main {
    flex-direction: column;
  }

  .cart-items {
    z-index: 999999;
  }

  .products-galeria {
    display: none;
  }

  .overlay-container {
    display: inherit !important;
    background-color: inherit !important;
    position: inherit;
    width: inherit;
    height: inherit;
  }

  .close-overlay {
    display: none;
  }

  .products-thumb,
  .products-thumb-2 {
    display: none;
  }

  .next-arrow {
    left: 400px;
  }

  .previous-arrow {
    left: 7px;
  }

  .cart-total {
    flex-direction: column;
  }

  .quantity-button {
    width: 100%;
  }

  .add-cart {
    width: 100%;
  }

  .price-container {
    display: flex;
    justify-content: space-between;
  }
}


@media (max-width: 700px) {
  .header-menu {
    display: none;
  }

  .hamburger-menu {
    display: inherit !important;
  }

  header {
    justify-content: space-around;
    margin-left: 131px;
  }
}