:host {
  ul.list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 32px;

    li {
      max-width: 350px;

      &.feature-item-supervisor {
        grid-row: 2 / 4;
        grid-column: 1;
      }

      &.feature-item-team-builder {
        grid-row: 1 / 3;
        grid-column: 2;
      }

      &.feature-item-karma {
        grid-row: 3 / 5;
        grid-column: 2;
      }

      &.feature-item-calculator {
        grid-row: 2 / 4;
        grid-column: 3;
      }
    }
  }

  @media (max-width: 960px) {
    ul.list-container {
      display: flex;
      flex-direction: column;
    }
  }
}
