.cardWrapper {
  position: relative;
  top: 258px;
  left: 221px;
  display: grid;
  gap: 20px;
  align-items: center;
  justify-content: center;
  min-width: 1440px;
}

.imgThanks {
  margin-left: 137px;
}

.cardWrapper h1,
.cardWrapper p {
  text-align: center;
}

.cardWrapper button {
  width: 379px;
}

.none {
  display: none;
}
