/* GENERAL  SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: "Manrope", sans-serif;
  color: var(--Light-Cyan);
}

:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

/* BODY   */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--Dark-Blue);
}

/* CONTAINER */

.container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  position: relative;

  max-width: 1450px;
  padding: 40px;
  margin: 20px;

  align-items: center;
  justify-items: center;

  border-radius: 15px;
  background-color: var(--Dark-Grayish-Blue);
}

.container h1 {
  color: var(--Neon-Green);
  font-size: 1rem;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

.container span {
  color: var(--Neon-Green);
  font-size: 1rem;
}

.container p {
  align-self: center;
  max-width: 450px;
  text-align: center;
  margin-bottom: 10px;
}

/* BUTTON */

button {
  background-color: var(--Neon-Green);
  padding: 15px;
  border-radius: 60%;
  border: none;
  position: absolute;
  bottom: -30px;
}

button:hover {
  box-shadow: 0px 0px 15px var(--Neon-Green);
}

/* IMAGE */

#mobile {
  display: none;
}

/* MEDIA QUERIES */

@media (max-width: 540px) {
  * {
    font-size: 1.1rem;
  }

  .container {
    max-width: 375px;
    padding: 30px;
  }

  .container p {
    max-width: 250px;
  }

  #desktop {
    display: none;
  }

  #mobile {
    display: initial;
  }
}