:root {
  --red: hsl(1, 90%, 64%);
  --blue-500: hsl(219, 85%, 26%);
  --blue-900: hsl(224, 21%, 14%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue-100: hsl(210, 60%, 98%);
  --grayish-blue-200: hsl(211, 68%, 94%);
  --grayish-blue-300: hsl(205, 33%, 90%);
  --grayish-blue-700: hsl(219, 14%, 63%);
  --grayish-blue-900: hsl(219, 12%, 42%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--grayish-blue-100);
  padding: 2rem 1rem;
  link-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
