/* GENERAL STYLES */

:root {
  --background-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --amount: hsl(178, 100%, 50%);
  --text-color: hsl(215, 51%, 70%);
  --white-text: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

/* BODY */

body {
  background-color: var(--background-color);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

/* MAIN */

main {
  background-color: var(--card-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  padding-top: 15px;
  border-radius: 15px;
  box-shadow: 0px 20px 2px 18px rgb(0 0 0 / 8%), 0px 20px 2px 45px rgb(0 0 0 / 8%);
  ;
}

/* IMG */

.userImg {
  max-width: 50px;
}

/* CONTENT WRAPPER */

.content-wrapper {
  max-width: 90%;
}

/* TEXT CONTAINER */

.textContainer {
  margin-top: 20px;
}

.textContainer span {
  color: #fff;
}

.text {
  margin-top: 10px;
  margin-bottom: 20px;

  color: var(--text-color);
  font-size: 15px;
}

/* AMOUNT FOOTER */

.amountFooter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.amountFooter p {
  color: var(--text-color);
  margin-left: 10px;
}

.ether {
  display: flex;
}

.ether p {
  color: var(--amount);
}

.ether img {
  max-width: 20px;
  max-height: 20px;
}

.daysleft {
  display: flex;
}

.daysleft img {
  max-width: 20px;
  max-height: 20px;
}

/* USER FOOTER */

.userFooter {
  border-top: 1px solid var(--line);
  display: flex;
  font-size: 14px;
  padding-bottom: 10px;
}

.userFooter img {
  margin-top: 10px;
  max-width: 35px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.userFooter p {
  align-self: center;
  margin-left: 10px;
  color: var(--text-color);
}

.userFooter p span:hover,
.equilibrium:hover {
  color: var(--amount);
  cursor: pointer;
}

/*  */

.design {
  position: relative;
}

.design,
.design img {
  width: 100%;
  border-radius: 6px;
}

.design:hover {
  cursor: pointer;
}

.design:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: var(--amount);
  opacity: 0.5;
  z-index: 11;
  border-radius: 6px;
}

.design:hover::after {
  display: block;
  content: url("../public/images/icon-view.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111;
}