.button {
  padding: 1.0625rem 4.0625rem;
  border-radius: 25px;
  background-color: hsl(223, 87%, 63%);
  color: #fff;
  border: none;
  font-size: 1rem;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.1s;
}

@media (max-width: 700px) {
  .button {
    padding: 8px 65px;
    margin-top: 20px;
  }
}
