.button {
  padding: 17px 65px;
  border-radius: 5px;
  background-color: #220930;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin-top: 40px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.1s;
}

@media (max-width: 700px) {
}
