:root {
  --cyan-900: hsl(158, 36%, 37%);
  --cream-500: hsl(30, 38%, 92%);
  --blue-900: hsl(212, 21%, 14%);
  --grayish-500: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream-500);
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}
