<div id="menuToggle">
  <input type="checkbox" id="menuCheckbox" />
  <span></span>
  <span></span>
  <span></span>

  <ul id="menu">
    <li>
      <a href="#">
        <label for="menuCheckbox">Collections</label>
      </a>
    </li>
    <li>
      <a href="#">
        <label for="menuCheckbox">Men</label>
      </a>
    </li>

    <li>
      <a href="#">
        <label for="menuCheckbox">Women</label>
      </a>
    </li>
    <li>
      <a href="#">
        <label for="menuCheckbox">About</label>
      </a>
    </li>
    <li>
      <a href="#">
        <label for="menuCheckbox">Contact</label>
      </a>
    </li>
  </ul>
</div>
