.header {
  display: flex;
  justify-content: space-between;
  padding: 2.344rem 0;
}

.notifications {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.notifications span {
  font-weight: bolder;
  font-size: 1.438rem;
}

.notifications strong {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 25px;

  border-radius: 5px;
  background-color: var(--blue-500);
  color: var(--white);
}

.header p {
  color: var(--grayish-blue-900);
}

.header p:hover:not([disabled]) {
  color: var(--blue-500);
  cursor: pointer;
}
