.listElement {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.438rem;
}

.listElement span {
  color: var(--brown-500);
  font-size: 0.938rem;
}

.chart {
  background: var(--red-100);
  width: 2.813rem;
  border-radius: 7px;
  margin: 0 0.625rem;
}

.chart:hover {
  opacity: 0.5;
  cursor: pointer;
}
.active {
  background: var(--cyan-500);
}

.dayAmount {
  width: 4.063rem;
  height: 2.188rem;
  background: var(--brown-800);
  border-radius: 7px;
  color: var(--white);
  opacity: 1 !important;
  text-align: center;
  padding-top: 0.313rem;
}

.none {
  display: none;
}
