/* GENERAL SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --main-heading-stats: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

/* BODY */

body {
  font-family: "Inter", sans-serif;
  color: var(--main-heading-stats);

  height: 100vh;
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* MAIN */

main {
  display: flex;
  max-height: 50%;
  border-radius: 10px;
}

/* CONTAINER */

.container {
  background-color: var(--card-background);
  border-radius: 5px 0 0px 5px;

  padding: 50px 70px 50px 50px;
  max-width: 500px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.container p {
  color: var(--main-paragraph);
  line-height: 1.8rem;
  font-size: 1rem;
}

.container h1 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 2rem;
}

.highligth {
  color: var(--accent);
}

.list-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  margin-top: 20px;
  align-content: start;
  text-transform: uppercase;

  color: var(--stat-headings);
}

.highligth-list {
  color: var(--main-heading-stats);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

/* IMAGE */

.imgWrapper {
  background-color: #4f007d;
  border-radius: 0 5px 5px 0;
  max-width: 370x;
}
img {
  opacity: 0.5;
  display: block;
  max-width: 100%;
  border-radius: 0 5px 5px 0;
}

@media (max-width: 1005px) {
  main {
    margin-top: auto;
    flex-direction: column-reverse;
  }

  .imgWrapper {
    max-width: 450px;
    border-radius: 5px 5px 0 0;
  }

  img {
    border-radius: 5px 5px 0 0;
  }

  .container {
    max-width: 450px;
    text-align: center;
    border-radius: 0 0 5px 5px;
  }
}
