.input {
  width: 430px;
  padding-left: 10px;
  border: 1px solid hsl(223, 100%, 88%);

  font-size: 1rem;

  border-radius: 25px;
  box-sizing: border-box;
  transition: 0.2s;
}
.input::placeholder {
  color: hsl(223, 100%, 88%);
}

.error {
  color: red;
  font-weight: 300;
  font-style: italic;

  position: absolute;
  margin-left: 1.875rem;
  margin-top: 3.6125rem;
  font-size: 13px;
}

.border {
  border: 1px solid red;
}

@media (max-width: 700px) {
  .input {
    height: 2.5rem;
  }
  .error {
    position: initial;
    margin-top: 0.25rem;
    margin-left: 0;
    align-self: center;
  }
}

@media (max-width: 450px) {
  .input {
    width: 20rem;
  }
}
