:root {
  --white: #fff;
  --red-100: hsl(10, 79%, 65%);
  --cyan-500: hsl(186, 34%, 60%);
  --brown-800: hsl(25, 47%, 15%);
  --brown-500: hsl(28, 10%, 53%);
  --cream-500: hsl(27, 66%, 92%);
  --orange-100: hsl(33, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cream-500);
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  padding-top: 9.5rem;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

li {
  list-style: none;
}
