:root {
  /* primary colors */
  --color-primary: hsl(0, 78%, 62%);
  --color-secondary: hsl(180, 62%, 55%);
  --color-accent: hsl(34, 97%, 64%);
  --color-info: hsl(212, 86%, 64%);

  /* neutrals */
  --color-text-primary: hsl(234, 12%, 34%);
  --color-text-secondary: hsl(229, 6%, 66%);
  --color-background: hsl(0, 0%, 98%);
}
