/* __________ General settings __________ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --text-title: hsl(233, 26%, 24%);
  --main-text: hsl(233, 8%, 62%);

  --btn-primary: hsl(136, 65%, 51%);
  --btn-secondary: hsl(192, 70%, 51%);

  --header-bg: hsl(0, 0%, 100%);
  --intro-article-bg: hsl(0, 0%, 98%);
  --benefits-bg: hsl(220, 16%, 96%);
  --footer-bg: hsl(233, 26%, 24%);
}

body {
  min-width: 100vw;
  font-size: 1.125rem;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* __________ End of general settings __________ */

/* __________ Button __________ */

.request-btn {
  font-weight: bolder;
  font-size: 1.1rem;
  color: white;
  background: linear-gradient(
    to right,
    var(--btn-primary),
    var(--btn-secondary)
  );
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
}

.request-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* __________ End of button __________ */

/* __________ Hamburger menu  __________ */

.hamburger-menu {
  display: none;
  position: relative;
}

.hamburger-menu img {
  width: 40px;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.link-mobile {
  display: none;
}

.open-menu a:hover {
  color: #2d314d;
  cursor: pointer;
}

.menu-container {
  display: none;
}

/* __________ End of Hamburger menu  __________ */

/* __________ Header __________ */

.header-bg {
  background-color: var(--header-bg);
  position: relative;
  top: 0;
  z-index: 99;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
}

.header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 40px;
}

.header ul li {
  position: relative;
}

.header ul li::after {
  content: "";
  opacity: 0;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.header ul li:hover::after {
  content: "";
  position: absolute;
  top: 53px;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 1;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#31d35c),
    to(#2bb7da)
  );
  background: linear-gradient(to right, #31d35c, #2bb7da);
}

.header ul li a {
  color: #9698a6;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

.header ul li a:hover {
  color: #2d314d;
  cursor: pointer;
}

/* __________ End of Header __________ */

/* __________ Intro __________ */

.intro-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--intro-article-bg);
  height: 500px;
}

.description-container {
  margin: auto;
  max-width: 1200px;
}

.intro-description {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;

  margin: auto 0 0 -350px;
}

.intro-description h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--text-title);
}

.intro-description p {
  color: var(--main-text);
  line-height: 1.7rem;
}

.mockups-container {
  background: url("images/bg-intro-desktop.svg");
  position: relative;
  background-position: 16%;
  background-repeat: no-repeat;
  background-size: 150%;
}

.mockups {
  position: relative;
  top: 50px;
  left: 85px;
  z-index: 2;
}

/* __________ End of intro __________ */

/* __________ Benefits __________ */

.benefits-bg {
  background-color: var(--benefits-bg);
  position: relative;
}

.benefits {
  display: flex;
  flex-direction: column;
  padding: 120px 0px;
}

.benefits-description h1 {
  font-size: 2rem;
  font-weight: lighter;
  color: var(--text-title);
}

.benefits-description p {
  color: var(--main-text);
  line-height: 1.7rem;
  margin-top: 30px;
  max-width: 650px;
}

.benefits-cards {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 285px;
  width: 100%;
}

.cards + .cards {
  margin-left: 50px;
}

.cards h2 {
  font-weight: lighter;
  color: var(--text-title);
  margin-top: 10px;
}

.cards p {
  color: var(--main-text);
  line-height: 1.8rem;
  max-width: 263px;
  font-size: 1rem;
}

/* __________ End of benefits __________ */

/* __________ Articles __________ */

.articles-bg {
  background-color: var(--intro-article-bg);
}

.articles {
  padding: 100px 0;
}

.articles > h1 {
  font-size: 2.5rem;
  font-weight: lighter;
  color: var(--text-title);
  margin-bottom: 40px;
}

.articles-cards-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.article-card {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.article-card img {
  max-width: 285px;
  width: 100%;
  height: 190px;
  border-radius: 8px 8px 0 0;
}

.article-card p {
  color: var(--main-text);
  line-height: 1.4rem;
  max-width: 263px;
  font-size: 1rem;
}

.article-card h2 {
  font-weight: normal;
  color: var(--text-title);
  margin-top: 10px;
  font-size: 1.125rem;
}

.article-card h2:hover {
  color: var(--btn-primary);
  cursor: pointer;
}

.article-card-desc h1 {
  color: var(--main-text);

  font-size: 0.9rem;
  font-weight: lighter;
}

.article-card-desc {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 285px;
}

/* __________ End of articles __________ */

/* __________ Footer __________ */

.footer-bg {
  background-color: var(--footer-bg);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  gap: 200px;
  padding: 50px 20px 40px 0;
  justify-content: space-between;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.social-media-icons {
  display: flex;
  gap: 15px;
}

.social-media-icons img:hover {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

.footer-information {
  color: white;
}

.footer-information li + li {
  margin-top: 15px;
}

.footer-information li:hover {
  color: var(--btn-primary);
  cursor: pointer;
}

.footer-information + .footer-information {
  margin-left: -100px;
}

.button-trademark {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.button-trademark span {
  color: var(--main-text);
  margin-top: 10px;
}

/* __________ End of footer __________ */

/* __________ Media queries__________ */

@media (max-width: 1500px) {
  .intro-description {
    margin-left: 10px;
  }
}

@media (max-width: 1100px) {
  .mockups {
    width: 500px;
    top: -10px;
  }

  .footer {
    gap: 100px;
  }
}

@media (max-width: 960px) {
  .mockups-container {
    background-size: 150%;
    top: -50px;
  }

  .mockups {
    width: 350px;
    top: -90px;
  }

  .footer-information + .footer-information {
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  /* HEADER SECTION */
  .header ul {
    display: none;
  }

  .header button {
    display: none;
  }

  .hamburger-menu {
    display: block;
    margin-right: 50px;
  }

  .open-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--main-text);
    position: absolute;
    width: 180px;
    height: 200px;

    right: 50%;

    background-color: #fff;
    border: 1px solid #9698a6;
    border-radius: 5px;
  }

  .mockups-container {
    display: none;
  }

  /* INTRO SECTION */

  .intro-description {
    align-items: center;
    text-align: center;
  }

  .intro-description p {
    text-align: center;
  }

  /* BENEFITS SECTION */

  .benefits-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .benefits-description p {
    text-align: center;
  }

  .benefits-cards {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .cards {
    align-items: center;
    gap: 10px;
  }

  .cards p {
    text-align: center;
  }

  .cards + .cards {
    margin-left: 0;
  }

  /* ARTICLES SECTION */

  .articles h1 {
    text-align: center;
  }

  .articles-cards-container {
    flex-direction: column;
    align-items: center;
  }

  /* FOOTER SECTION */
  .footer {
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
  }

  .footer-information {
    text-align: center;
  }

  .button-trademark {
    align-items: center;
  }
}
