html,
body {
  height: 100%;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  font-family: "Ubuntu", sans-serif;
  background: #f0f6ff;
  padding: 150px 10px 20px;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul,
ul li,
ul ul li {
  text-indent: 0;
}

ul {
  list-style: none;
}
