@tailwind base;
@tailwind components;
@tailwind utilities;

/* change color of payment type labels */
div:has(button[data-state='unchecked']#billingModel) label[for='monthly'],
div:has(button[data-state='checked']#billingModel) label[for='yearly'] {
  color: #02295a;
}
