:root {
  --white: #fff;
  --white-100: hsla(0, 0%, 100%, 0.75);
  --gray-200: hsl(0, 0%, 95%);

  --cyan-700: hsl(184, 100%, 22%);
  --cyan-900: hsl(179, 100%, 13%);
  --orange-200: hsl(31, 77%, 52%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.9375rem;
  font-family: "Lexend Deca", sans-serif;
}
