/* GENERAL SETTINGS */
:root {
  --violet: hsl(257, 40%, 49%);
  --soft-Magenta: hsl(300, 69%, 71%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-image: url("../images/bg-desktop.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: var(--violet);
}

/* HEADER */

header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
}

header img {
  margin-left: 80px;
}

/* Content */

main {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 30.5%;
  padding: 50px;
}

.content h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 2.5em;
}

.content p {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;

  color: #fff;
  line-height: 1.8em;
  margin: 25px 0;
}

/* Button */

main button {
  padding: 20px 70px;
  border-radius: 50px;
  background-color: #fff;
  color: var(--violet);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  box-shadow: none;
}

main button:hover {
  background-color: var(--soft-Magenta);
  color: #fff;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
}

/* Icons */

.icons:hover {
  background-color: var(--soft-Magenta);
  border-radius: 100%;
}

.icons {
  height: 35px;
}

.icons+.icons {
  margin-left: 10px;
}

.iconsWrapper {
  height: 10px;
}

/*  RESPONSIVENESS */

@media (max-width: 1070px) {
  main {
    margin: 0 30px;
  }

  main img {
    width: 500px;
  }

  .content {
    max-width: 50%;
  }
}

@media (max-width: 880px) {
  header img {
    margin-left: 0;
  }

  html {
    background-image: url("../images/bg-mobile.svg");
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main img {
    margin: 0 30px;
    width: 80%;
  }

  .content {
    max-width: 800px;
    text-align: center;
  }

  .content h1 {
    font-size: 1.8em;
  }

  footer {
    justify-content: center;
    margin-right: 0;
  }
}